@import url(reset.css);


body{
    background-image: url(../img/htmlbgifixed.png);
    font-family: "duckie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper{
    width: 1400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

/* ＫＶ部分 */

.top{

    position: relative;
    height: 900px;
}

.top img{
    position: absolute;
    width: 100%;
    z-index: 0;
    

}

.top .k1{
    filter: drop-shadow(5px 5px 10px #000);
}

.top .k2{
    animation: shine 1s step-end infinite;
}

@keyframes shine{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.top .s1{
    animation: light1 5s linear infinite;
    
}

@keyframes light1{
    0% {
        opacity: .3;
    }
    30% {opacity: 1;}
    70% {
        opacity: 1;
    }
    100%{
        opacity: .3;
    }
}

.top .s2{
    animation: light2 3s linear infinite;
}

@keyframes light2{
    0% {
        opacity: .3;
    }
    30% {opacity: 1;}
    70% {
        opacity: 1;
    }
    100%{
        opacity: .3;
    }
}

.top ul{
    display: flex;
    position: absolute;
    left: 640px;
    top: 50px;
    /* background-color: #fff; */
    width: 45%;
    z-index: 10;
}

.top li{
    margin: 0 2px;
    flex-basis: 280px;
    /* transform: translatey(10px); */
    background-image: url(../img/orangebtn.png);
    background-repeat: no-repeat;
    background-size: contain;

    transition: all .3s;
    
}

.top li:nth-child(2){
    background-image: url(../img/yellowbtn.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.top li:hover{
    transform: translatey(-5px);
    transform: scale(1.05);
    background-image: url(../img/orangeshinebtn.png);
}

.top li:nth-child(2):hover{
    background-image: url(../img/yellowbtnshine.png);
}


.top a{
    display: block;
    text-align: center;
    height: 80px;
    font-size: 35px;
    color: rgb(166, 0, 0);
    text-decoration: none;
    font-weight: bold;
    line-height: 55px;
    letter-spacing: 5px;
    text-indent: 5px;
}

/* 小導引列 */

/* .topHide{
    position: fixed;
    opacity: 0;
    top: -80px;
    left: 0;
    background-color: white;
    width: 100%;
    height: 80px;
    z-index: 20;

    transition: all .5s;
}

.navHide{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navHide img{
    height: 70px;
    display: block;
    margin-top: 5px;
    margin-left: 200px;
}

.navS{
    display: flex;
    margin-right: 100px;
}

.navS li{
}

.navS li a{
    padding: 0 20px;
    display: block;
    text-align: center;
    height: 80px;
    font-size: 30px;
    color: rgb(166, 0, 0);
    text-decoration: none;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: 3px;
}

.navS li a:hover{
    background-color: rgb(162, 0, 0);
    color: rgb(255, 226, 64);
} */



/* 上方 ＫＶ 結束 */


/* 網頁前端部分 */
.web{
    margin-top: 100px;
    width: 100%;
    filter: drop-shadow(3px 3px 10px #000);
}

.pic{
    position: relative;
}

.web img{
    width: 100%;
}

.pic ul li img{
    width: 350px;

    position: absolute;
    top: 0;
    left: 0;
}

.pic ul li .web1 img{
    top: 250px;
    left: 215px;
    background-color: rgb(166, 0, 0);
    border-radius: 10px;
}

.pic ul li .web2 img{
    top: 250px;
    left: 830px;
    background-color: rgb(166, 0, 0);
    border-radius: 10px;
}

.pic ul li .web3 img{
    top: 495px;
    left: 215px;
    background-color: rgb(166, 0, 0);
    border-radius: 10px;
}

.pic ul li .web4 img{
    top: 495px;
    left: 830px;
    background-color: rgb(166, 0, 0);
    border-radius: 10px;
}

.pic ul li img{
    transition: all .5s;
    filter: brightness(.8);
}

.pic ul li img:hover{
    transform: scale(1.05);
    filter: brightness(1);
}




/* 網頁前端 結束 */


/* 平面設計 開始 */
.graphic{
    margin-top: 100px;
    width: 100%;
    height: 900px;
    /* border: 1px solid yellow; */
}

.graphicBoard{
    width: 100%;
    position: relative;

    
}

.graphicBoard .topBoard{
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;

    z-index: 36;
}

.graphicBoard .backBoard{
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;

    z-index: 30;

    filter: drop-shadow(3px 3px 10px);
}

.graphicBoard .backBoardSide{
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0;

    z-index: 34;
}

.graphicBoard .topBoardLightA{
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;

    opacity: 0;

    z-index: 37;

    animation: graphicTopBoardLightA 1s step-end infinite;
}

@keyframes graphicTopBoardLightA{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.graphicBoard .topBoardLightB{
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    
    opacity: 0;

    z-index: 37;
    
    animation: graphicTopBoardLightB 1s step-end infinite;

}

@keyframes graphicTopBoardLightB{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.graphic .seeMoreBtn{
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 850px;

    transition: all .3s;

}

.graphic .seeMoreBtn:hover{
    transform: scale(1.05);
}

/* 平面設計結束 */



/* 關於我  開始 */

.aboutMe{
    width: 100%;
    height: 900px;
    filter: drop-shadow(3px 3px 10px);

    padding-bottom: 50px;
}

.aboutMeBoard{
    width: 100%;
    margin-top: 100px;

    position: relative;
}

.aboutMeBoard img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.aboutMeBoard .AMCircle{
    z-index: 46;
}

.aboutMeBoard .AMBack{
    z-index: 40;
}

.aboutMeBoard .AMSide{
    z-index: 41;
}

.aboutMeBoard .AMSideLight{
    z-index: 47;

    opacity: 0;
}

.aboutMeBoard .AMSideLight1{animation: AMSideLight1 5s step-end infinite;}
.aboutMeBoard .AMSideLight2{animation: AMSideLight2 5s step-end infinite;}
.aboutMeBoard .AMSideLight3{animation: AMSideLight3 5s step-end infinite;}
.aboutMeBoard .AMSideLight4{animation: AMSideLight4 5s step-end infinite;}
.aboutMeBoard .AMSideLight5{animation: AMSideLight5 5s step-end infinite;}
.aboutMeBoard .AMSideLight6{animation: AMSideLight6 5s step-end infinite;}
.aboutMeBoard .AMSideLight7{animation: AMSideLight7 5s step-end infinite;}
.aboutMeBoard .AMSideLight8{animation: AMSideLight8 5s step-end infinite;}
.aboutMeBoard .AMSideLight9{animation: AMSideLight9 5s step-end infinite;}
.aboutMeBoard .AMSideLight10{animation: AMSideLight10 5s step-end infinite;}

@keyframes AMSideLight1{0%{opacity: 0;} 9%{opacity: 1;}}
@keyframes AMSideLight2{0%{opacity: 0;} 18%{opacity: 1;}}
@keyframes AMSideLight3{0%{opacity: 0;} 27%{opacity: 1;}}
@keyframes AMSideLight4{0%{opacity: 0;} 36%{opacity: 1;}}
@keyframes AMSideLight5{0%{opacity: 0;} 45%{opacity: 1;}}
@keyframes AMSideLight6{0%{opacity: 0;} 54%{opacity: 1;}}
@keyframes AMSideLight7{0%{opacity: 0;} 63%{opacity: 1;}}
@keyframes AMSideLight8{0%{opacity: 0;} 72%{opacity: 1;}}
@keyframes AMSideLight9{0%{opacity: 0;} 81%{opacity: 1;}}
@keyframes AMSideLight10{0%{opacity: 0;} 90%{opacity: 1;}}

.aboutMeBoard .AMTopLight{
    z-index: 48;

    opacity: 0;
}

.aboutMeBoard .AMTopLight1{animation: AMTopLight1 1s step-end infinite;}
.aboutMeBoard .AMTopLight2{animation: AMTopLight2 1s step-end infinite;}

@keyframes AMTopLight1{0%{opacity: 1;} 50%{opacity: 0;}}
@keyframes AMTopLight2{0%{opacity: 0;} 50%{opacity: 1;}}

.aboutMeBoard .AMTopMain{
    z-index: 49;
}

.aboutMeBoard a{
    display: block;
}

.aboutMeBoard a img{
    display: block;
    width: 120px;
    top: 675px;
    left: 1070px;

    z-index: 49;
    transition: all 1s;
}

.aboutMeBoard a img:hover{
    transform: translateX(10px);
}


/* 回到頂端按鈕 */

.backToTop{
    position: fixed;
    width: 60px;

    right: 50px;
    bottom: 120px;
}

.backToTop a{
    position: relative;
    width: 60px;
}

.backToTop #BTTimg1{
    width: 60px;
    position: absolute;
}

.backToTop #BTTimg2{
    width: 60px;
    position: absolute;
    top: 0;
    left: 0;

    transition: all .5s;
}

.backToTop:hover #BTTimg2{
    top: -15px;
    left: 0;

    transform: scale(1.1);
}